<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metamatic Knowledge Solution</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
      
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="1666941411213.jpeg" alt="Bootstrap" width="30" height="24">
            </a>
            <a class="navbar-brand" href="#">Metamatic Knowledge Solution</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#h1">About us</a>
                <a class="nav-link" href="#h2">Services</a>
                <a class="nav-link" href="#h3">Blog</a>
                <a class="nav-link " aria-disabled="true">Contact Info</a>
               
              </div>
            </div>
            <form className="d-flex" role="search">
              <input className="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button className="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </nav>


        <div id="carouselExampleCaptions" className="carousel slide">
          <div className="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" className="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div className="carousel-inner">
            <div className="carousel-item active">
              <img src="/kawe-rodrigues-jKmdjT7aQJA-unsplash.jpg" className="d-block w-100" alt="...">
              <div className="carousel-caption d-none d-md-block">
                <h2>We collaborate with smart and creative people to build Knowledge Graph for enterprises.</h2>
                
              </div>
            </div>
            <div className="carousel-item">
              <img src="/viviana-rishe-kpAz7geHVa4-unsplash.jpg" className="d-block w-100" alt="...">
              <div className="carousel-caption d-none d-md-block">
                <h2>Engineering services targeting enterprise knowledge graph construction and evolution governed by ontologies.</h2>
                
              </div>
            </div>
            <div className="carousel-item">
              <img src="/crystal-y-J5cKBM4Ef-8-unsplash.jpg" className="d-block w-100" alt="...">
              <div className="carousel-caption d-none d-md-block">
                <h2>Research & Development in the field of Semantic Data Integration.</h2>
                
              </div>
            </div>
          </div>
          <button className="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span className="carousel-control-prev-icon" aria-hidden="true"></span>
            <span className="visually-hidden">Previous</span>
          </button>
          <button className="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span className="carousel-control-next-icon" aria-hidden="true"></span>
            <span className="visually-hidden">Next</span>
          </button>
        </div>
  


        <div className="aboutdiv" id="#h1">
          <div className="firstbox">
             <h1 className="head1">About us</h1>
             <h6 className="head2">Empowering Knowledge,<br> Unleashing Potential.</h6>
          </div>
            <div className="secbox">At Knowledge Graph Consulting,<br> we are passionate about helping<br> businesses unlock the value of their data<br> through the power of knowledge graphs.</div>

            <div className="thirdbox">Our team of experienced knowledge graph<br> experts has worked on projects across a wide range<br> of industries. We understand the importance of<br> having an effective knowledge graph to manage<br> your data and gain new insights.</div>
        </div>
          
        

        <!--<div class="aboutdiv">
          
          <div class="firstr"></div>
          <div class="firstr"></div>
          <div class="firstr"></div>
        </div>-->



        <!-- <section class="abtsection" id="about-section">
          <div class="container">
            <div class="title-heading">
              <h2 class="w31-text">We Run All kind of IT Services</h2>
            </div>
           <div class="row justify-content-center" id="box1">
            <div class="col-lg-3 col-sm-7 mb-4 text-center">
                <div class="firstb">
                  <div class="firsticon">
                    <i class="fas fa chalkboard"></i>

                  </div>
                  <div class="firstb-text">
                    <h5 class="our-Specialties">
                      <a href=""></a>
                    </h5>
                    <p>Research & Development in the field<br> of Semantic Data Integration,<br> Text Information Retrieval, Knowledge Engineering - Information Services,<br> User Profiling Systems, Social Networking and Ontologies.</p>
                  </div>
                </div>
            </div>
           </div>
          </div>

        </section>
    -->


    <section className="about-section py-5" id="#h3">
      <div className="container py-lg-5 py-md-4 py-2">
          <div className="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
              <h3 className="w3l-title-main">We run all kinds of IT services
                  that vow your success</h3>
          </div>

                  </div>
              </div>
          </div>
      </div>
  </section>



  <section className="content">
    <div className="text-section">
      <h4>Why Choose Us</h4>
      <h1>The Creative Solution We Provide To Our Clients</h1>
      <h6>We specialize in helping businesses create and manage knowledge graphs that enable them to organize their data, gain new insights, and make better decisions. Our team of experts has years of experience in building and deploying knowledge graphs that are tailored to the specific needs of our clients.</h6>
      </div>
        <div className="mid-row-2" id="box-mid">
          <div className="col-1-grid">
          <i className="fas fa-chalkboard-teacher"></i>
        </div>
        <div className="detail ms-3">
          <h4 className="w3l-subtitle">Online Service</h4>
          <p>Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.</p>
        </div>
  
        <div className="col-sm-6 grids_info d-flex mt-sm-0 mt-4" id="box1">
          <i className="fas fa-lightbulb"></i>
          <div className="detail ms-3">
            <h4 className="w3l-subtitle"> Creative Idea</h4>
            <p>Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.</p>
          </div>
        </div>
  
        <div className="col-sm-6 grids_info d-flex mt-md-5 mt-4" id="box2">
          <i classNAme="fas fa-headset"></i>
          <div className="detail ms-3">
            <h4 className="w3l-subtitle">Unlimited Support</h4>
            <p>Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.</p>
          </div>
        </div>
  
        <div className="col-sm-6 grids_info d-flex mt-md-5 mt-4" id="box3">
          <i className="fab fa-servicestack"></i>
          <div className="detail ms-3">
            <h4 className="w3l-subtitle">Digital Services</h4>
            <p>Lorem ipsum viverra libero set. Pellen ut justo, in ligula at.</p>
          </div>
        </div>
        </div>
    
  
    <div className="image-section" id="img-sec">
      <img src="/agefis-eqvAIznVqR4-unsplash.jpg" alt="picture">
    </div>
  </section>


  <div className="specification-layout editContent">
    <div className="container">
        <div className="main-titles-head ">
            <h3 className="header-name editContent">
      Making internet a brand new experience
            </h3>
            <p className="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
        </div>
                <div className="call-grids-w3 d-grid">
                    <div className="grids-1 grids-effect">
                        <span className="fa fa-desktop"></span>
                        <h4><a href="#feature" className="title-head">Online Business</a></h4>
                        <p className="para">Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
                        <a href="about.html" className="action-button btn mt-3">Read more</a>
                    </div>
                    <div classNamae="grids-1 grids-effect-2">
                        <span className="fa fa-thumbs-o-up"></span>
                        <h4><a href="#feature" className="title-head">Business Plan</a></h4>
                        <p className="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                        <a href="about.html" className="action-button btn mt-3">Read more</a>
                    </div>
                        <div className="grids-1 grids-effect">
                            <span className="fa fa-mobile"></span>
                            <h4><a href="#feature" className="title-head">Mobile Bank</a></h4>
                            <p className="para">Vivamus a ligula quam. Duis feugiat tortor sed Ut blandit. Duis feugiat tortor sed.</p>
                            <a href="about.html" className="action-button btn mt-3">Read more</a>
                        </div>
                        <div className="grids-1 grids-effect-2">
                            <span className="fa fa-money"></span>
                            <h4><a href="#feature" className="title-head">Online Deposit</a></h4>
                            <p className="para">Vivamus a ligula quam. Duis feugiat tortor sed  Ut blandit. Duis feugiat tortor sed.</p>
                            <a href="about.html" className="action-button btn mt-3">Read more</a>
                        </div>  
              </div>
    </div>
</div>
    



  





    
        
        <!-- New Section -->
       <!----<section class="main-contain" id="new-section">
          <div class="main-inner">
            <div class="main-text">What We Do</div>
          </div>
        </section>-->
      
        <!-- End of new section-->
        



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>